.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    margin-left: 5px;
}

.navbar-container > div {
    display: flex;
}

.navbar-logo {
    width: 40px;
    border-radius: 100px;
}


@media (max-width: 700px) {
    .navbar-container {
        justify-content: center;
        width: 100vw;
    }
}